@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design Tokens */
:root {
  --color-dark: #333;
  --color-light: #f4f4f4;
  --color-cream: #f5f5dc;
  --color-purple: #800080;
  --font-manrope: 'Manrope', sans-serif;

  --font-primary: var(--font-manrope);
  --link-color: var(--color-dark);
  --link-hover-color: var(--color-purple);
  --button-bg-color: var(--color-dark);
  --button-text-color: var(--color-light);
  --button-bg-hover-color: var(--color-purple);
  --button-text-hover-color: var(--color-light);
  --body-bg: var(--color-cream);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--body-bg);
  font-family: var(--font-primary);
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.button,
button {
  background: var(--button-bg-color);
  color: var(--button-text-color);
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
}

.button:hover,
button:hover {
  background: var(--button-bg-hover-color);
  color: var(--button-text-hover-color);
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.transition-container {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.transition-container.transitioning {
  opacity: 0;
  transform: translateX(20px);
}


p {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.3;
}

h3 {
  font-size: 1rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  p {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }
}

p+p {
  margin-top: 1rem;
}